<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pelada.panelinha.feature">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".TimesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PeladasActivity"
            android:label="@string/title_activity_peladas"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NovaPelada"
            android:label="@string/title_activity_novaPelada"
            android:parentActivityName=".PeladasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pelada.panelinha.feature.PeladasActivity" />
        </activity>
        <activity
            android:name=".JogadoresActivity"
            android:label="@string/title_activity_jogadores"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pelada.panelinha.feature.PeladasActivity" />
        </activity>
        <activity
            android:name=".NovoJogador"
            android:label="@string/title_activity_novoJogador"
            android:parentActivityName=".PeladasActivity">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pelada.panelinha.feature.PeladasActivity" />
        </activity>
        <activity
            android:name=".EstatisticaActivity"
            android:label="@string/title_activity_estatistica"
            android:parentActivityName=".PeladasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pelada.panelinha.feature.PeladasActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.MyFCM">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_delete_sweep" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>