<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pelada.panelinha.feature">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".TimesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PeladasActivity"
            android:label="@string/title_activity_peladas"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NovaPelada"
            android:parentActivityName=".PeladasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pelada.panelinha.feature.PeladasActivity" />
        </activity>
        <activity
            android:name=".JogadoresActivity"
            android:label="@string/title_activity_jogadores"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pelada.panelinha.feature.PeladasActivity" />
        </activity>
        <activity android:name=".NovoJogador"
            android:parentActivityName=".JogadoresActivity">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pelada.panelinha.feature.JogadoresActivity" />
        </activity>
    </application>

</manifest>